<div class="invoice-listing row">
  <div class="col-md-3 id">{{this.item.id}}</div>
  <div class="col-md-6 desc">{{this.item.description}}</div>
  <div class="col-md-2 price">${{this.item.amount}}</div>
  <div class="col-md-1 actions">
    <button class="icon" onclick={{action "editInvoice"}}>{{fa-icon "edit"}} </button>
    <button class="icon" onclick={{action "deleteInvoice"}}>{{fa-icon "trash-alt"}}</button>
  </div>
</div>